/* 
I'm just adding some colors from the hero section to body so we have a color theme to work with
*/

body {
    --light-beige: #DFB271; /*h1 font color*/
    --dark-blue: #040B19; /*background color*/
    --dark-grey: #1B1F25; /* nav bar gradient-start*/
    --dark-brown: #312926; /*nav bar gradient-end*/
    --beige-white: #A9A9A9; /*hero p font*/
    --white: #FFFFFF; /*text font*/
}